.App {
  text-align: center;
}


.App-header {
  background-color: #f6eedd;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(143, 18, 18, 0.853);
  
}

.App-link {
  color: black;
}

#selectionRow {
  display: flex;
  gap: 10 px;
  justify-content: center;
  margin-bottom: 50px;
}